[Unit]
Description=Update Check Service
After=default.target graphical.target network-online.target
Wants=graphical.target network-online.target

[Service]
Type=simple
User=rtxct
Environment="DISPLAY=:0"
Environment="DF_TERMINAL=alacritty"
Environment="PKG_MG=pacman"
Environment="UPDATE_CMD=-Syu"
ExecStart=/etc/updatecheck/update.sh
Restart=on-failure
RestartSec=5s
TimeoutStartSec=120
RemainAfterExit=false
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=graphical.target
